<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Nguyen Quang Chi</h2>
        </div>
        <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="shiba">
    </div>

    <mat-divider></mat-divider>

    <a mat-list-item routerLink="/admin/dashboard">Dashboard</a>
    <a mat-list-item (click)="toggleDoctorMenu()">
        Quản lý bác sỹ
    </a>
    <mat-nav-list class="sidenav-item" *ngIf="doctorMenuOpened">
        <a mat-list-item routerLink="/admin/create-doctor">
            <mat-icon>add</mat-icon>
            Thêm mới bác sỹ
        </a>
        <a mat-list-item routerLink="/admin/list-doctors">
            <mat-icon>list</mat-icon>
            Danh sách bác sỹ
        </a>
    </mat-nav-list>
    <a mat-list-item (click)="togglePatientMenu()">
        Quản lý bệnh nhân
    </a>
    <mat-nav-list class="sidenav-item" *ngIf="patientMenuOpened">
        <a mat-list-item routerLink="/admin/create-patient">
            <mat-icon>add</mat-icon>
            Thêm mới bệnh nhân
        </a>
        <a mat-list-item routerLink="/admin/list-patient">
            <mat-icon>list</mat-icon>
            Danh sách bệnh nhân
        </a>
    </mat-nav-list>
    <a mat-list-item>
        Quản lý phòng khám
    </a>
    <mat-nav-list class="sidenav-item">
        <a mat-list-item routerLink="/admin/list-rooms">
            <mat-icon>list</mat-icon>
            Danh sách phòng khám
        </a>
    </mat-nav-list>

</mat-nav-list>